body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,blockquote,th,td{margin:0;padding:0;}fieldset,img{border:0;}img,object,embed{vertical-align:bottom;}address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:normal;}ol,ul{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;}q:before,q:after{content:'';}a *{cursor:pointer;}

html{
	height:100%;
	min-width:1000px;
	background:#fff url(../images/bg.jpg) repeat-x 50% 0;
}
body{
	font:13px/1.2 Arial, Helvetica, sans-serif;
	min-height:100%;
	min-width:1000px;
	position:relative;
	color:#000;
}
a{
	color:#000;
	text-decoration:none;
}
a:hover{
	color:#1e4595;
	text-decoration:underline;
}
input,
textarea{
	outline: none;
}
.sprite{
	background:url(../images/sprite.png) no-repeat;
}
.wrapper{
	width:985px;
	margin:0 auto;
}
.header{
	width:100%;
	margin:0 0 10px;
}
.top{
	width:100%;
	overflow:hidden;
	background:#d5ebfc;
	padding:9px 10px;
	font-size:12px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-border-radius:0 0 10px 10px;
	-moz-border-radius:0 0 10px 10px;
	border-radius:0 0 10px 10px;
}
.top a{
	color:#1e4595;
	line-height:22px;
}
.top a:hover{
	color:#0092ff;
}
.top li{
	float:left;
}
.top .auth_block{
	float:left;
}
.top .auth_block li{
	margin:0 8px 0 0;
}
.top .auth_block li:first-child{
	margin:0 17px 0 0;
}
.top .auth_block a{
	display:block;
}
.top .auth_block .alt{
	border-left:1px dotted #6cb3e7;
	font-weight:bold;
	padding:0 0 0 10px;
}
.top .auth_block .sprite{
	background-position:-25px 0;
	width:21px;
	height:22px;
	float:left;
	margin:0 5px 0 0;
}
.top .links{
	float:right;
}
.top .links li{
	border-left:1px dotted #6cb3e7;
	padding:0 7px;
}
.top .links li:first-child{
	border:none;
}
.middle{
	width:100%;
	overflow:hidden;
	padding:32px 0 25px;
}
.header .logo{
	float:left;
	background-position:-1px -25px;
	width:191px;
	height:27px;
	text-indent:-9999px;
	margin:0 0 0 3px;
}
.header .logo a{
	display:block;
	height:100%;
}
.search_block{
	float:right;
	margin:-3px 0 0 0;
}
.search_block input[type=text]{
	float:left;
	width:195px;
	background:#fff;
	border:1px solid #81afd0;
	padding:6px 10px;
	-webkit-border-radius:5px 5px 5px 5px;
	-moz-border-radius:5px 5px 5px 5px;
	border-radius:5px 5px 5px 5px;
	margin:0 3px 0 0;
}
.btn{
	width:80px;
	text-align:center;
	float:left;
	color:#fff;
	font-weight:bold;
	height:27px;
	line-height:24px;
	cursor:pointer;
	background: #9cd1f8;
	border:1px solid #9cd1f8;
	border-bottom:1px solid #3f8fc9;
	-webkit-box-shadow:0 3px 2px -4px #000
	-moz-box-shadow:0 3px 2px -4px #000;
	box-shadow:0 3px 2px -4px #000;
	-webkit-border-radius:5px 5px 5px 5px;
	-moz-border-radius:5px 5px 5px 5px;
	border-radius:5px 5px 5px 5px;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzljZDFmOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0ZWFlZjQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #9cd1f8 0%, #4eaef4 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9cd1f8), color-stop(100%,#4eaef4));
	background: -webkit-linear-gradient(top,  #9cd1f8 0%,#4eaef4 100%);
	background: -o-linear-gradient(top,  #9cd1f8 0%,#4eaef4 100%);
	background: -ms-linear-gradient(top,  #9cd1f8 0%,#4eaef4 100%);
	background: linear-gradient(to bottom,  #9cd1f8 0%,#4eaef4 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9cd1f8', endColorstr='#4eaef4',GradientType=0 );
}
.nav{
	width:100%;
	overflow:hidden;
	font-weight:bold;
	background: #1e4595;
	-webkit-border-radius:10px 10px 10px 10px;
	-moz-border-radius:10px 10px 10px 10px;
	border-radius:10px 10px 10px 10px;
	padding:10px 0;
	line-height:25px;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFlNDU5NSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxMzM1N2EiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #1e4595 0%, #13357a 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e4595), color-stop(100%,#13357a));
	background: -webkit-linear-gradient(top,  #1e4595 0%,#13357a 100%);
	background: -o-linear-gradient(top,  #1e4595 0%,#13357a 100%);
	background: -ms-linear-gradient(top,  #1e4595 0%,#13357a 100%);
	background: linear-gradient(to bottom,  #1e4595 0%,#13357a 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e4595', endColorstr='#13357a',GradientType=0 );
}
.nav li{
	float:left;
	border-left:1px dotted #6cb3e7;
	padding:0 14px;
}
.nav li:first-child{
	border:none;
}
.nav li a{
	color:#b0dbfa;
}
.nav li a:hover{
	color:#fff;
	text-decoration:none;
}
.nav nav{
	float:left;
}
.nav .search_links{
	float:right;
	font-weight:normal;
}
.main{
	width:100%;
	overflow:hidden;
	margin:0 0 25px;
}
.sidebar{
	float:left;
	width:217px;
	margin:0 19px 0 0;
}
.sidebar .box{
	margin:12px 0 0 0;
}
.sidebar .box:first-child{
	margin:0;
}
.box{
	background:#f1f8fe;
	-webkit-border-radius:10px 10px 10px 10px;
	-moz-border-radius:10px 10px 10px 10px;
	border-radius:10px 10px 10px 10px;
	overflow:hidden;
	width:100%;
	padding:0 0 10px;
}
.box h2{
	color:#fff;
	font-size:16px;
	font-weight:normal;
	background:#1e4595;
	padding:9px 11px 7px;
}
.side_list{
	width:100%;
}
.side_list li{
	border-bottom:1px solid #cad1d6;
	border-top:1px solid #fff;
	padding:7px 28px 6px 13px;
	position:relative;
}
.side_list li:first-child{
	border-top:none;
}
.side_list .sprite{
	background-position:-82px 0;
	width:6px;
	height:8px;
	position:absolute;
	top:50%;
	right:5%;
	margin:-4px 0 0 0;
}
.side_list.alt{
	font-weight:bold;
}
.side_list.alt a:hover{
	text-decoration:none;
}
.content{
	overflow:hidden;
}
h1{
	font-size:19px;
	font-weight:normal;
	color:#1e4595;
}
.heading{
	padding:0 2 px;
}
.heading p{
	line-height:21px;
}
.heading h1{
	margin:16px 0 3px;
}
.link_cols{
	width:100%;
	overflow:hidden;
	padding: 0 0 11px;
}
.link_cols .col{
	float:left;
	width:185px;
	margin:0 0 0 65px;
}
.link_cols .col:first-child,
.link_cols .col li:first-child,
.content section:first-child{
	margin:0;
}
.link_cols .col h2{
	font-size:16px;
	color:#1e4595;
	font-weight:normal;
	margin:0 0 17px;
}
.link_cols .col li{
	margin:13px 0 0 0;
	width:100%;
	overflow:hidden;
	line-height:22px;
}
.link_cols .col .sprite{
	width:21px;
	height:22px;
	float:left;
	margin:0 8px 0 0;
}
.content section{
	margin:25px 0 0 0;
}
.twocolumn{
	width:100%;
	overflow:hidden;
}
.twocolumn .box:first-child{
	float:left;
}
.twocolumn .box{
	float:right;
	width:48.5%;
	margin:0;
}
.btn_more{
	float:right;
	font-size:13px;
	color:#b0dbfa;
	line-height:22px;
	margin:-1px -1px 0 0;
}
.btn_more:hover{
	color:#fff;
	text-decoration:none;
}
.btn_more .sprite{
	background-position:-49px 0;
	width:21px;
	height:22px;
	float:right;
	margin:0 0 0 5px;
}
.box .list li{
	/*padding:9px 19px 6px;*/
	padding:0 19px;
	margin:15px 0 0 0;
}
.box .list li:first-child{
	margin:10px 0 0 0;
}
.box .list .sprite{
	float:left;
	width:6px;
	height:8px;
	margin:5px 15px 0 0;
	background-position:-73px 0;
}
.footer{
	width:100%;
	overflow:hidden;
	padding:0 0 25px;
}
.footer span{
	float:left;
	width:220px;
	font-size:11px;
	line-height:15px;
	color:#6c6c6c;
	margin:4px 0 0 0;
}
.footer nav{
	float:right;
	font-size:12px;
}
.footer nav li{
	float:left;
	border-left:1px dotted #6cb3e7;
	padding:0 9px;
	line-height:20px;
}
.footer nav li:first-child{
	border:none;
}
.footer a{
	color:#1e4595;
}