body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,blockquote,th,td{margin:0;padding:0;}fieldset,img{border:0;}img,object,embed{vertical-align:bottom;}address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:normal;}ol,ul{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;}q:before,q:after{content:'';}a *{cursor:pointer;}

html{
	height:100%;
	min-width:1000px;
	background:#fff;
}
body{
	font:11px/1.2 Arial, Helvetica, sans-serif;
	min-height:100%;
	min-width:1000px;
	position:relative;
	color:#000;
}
a{
	color:#00f;
}
a:hover{
	text-decoration:none;
}
.slider_holder{
	width:600px;
	margin:100px auto 0;
	height:20px;
	border:1px solid #000;
	-webkit-border-radius:2px 2px 2px 2px;
	-moz-border-radius:2px 2px 2px 2px;
	border-radius:2px 2px 2px 2px;
	position:relative;
}
.slider_holder .slider{
	position:absolute;
	top:-6px;
	width:30px;
	height:30px;
	border:1px solid #888;
	background:#ccc;
	-webkit-border-radius:3px 3px 3px 3px;
	-moz-border-radius:3px 3px 3px 3px;
	border-radius:3px 3px 3px 3px;
	cursor:pointer;
}
.slider_holder .slider:hover{
	border:1px solid #000;
}
.slider_holder .percent_holder{
	position:absolute;
	top:3px;
	left:48%;
}
#anim-test {
    height: 20px;
    width:20px;
    background: red;
}
.gallery div {
    display: none;
    font-size: 40px;
}